.header {
  position: relative;
}
.headnavbar {
  background: #ffffff;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  -webkit-box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  display: block;
  position: relative;
  min-height: 60px;
}
.navContainer {
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}
.navHeader {
  display: block;
  position: absolute;
  z-index: 2;
}
.brand {
  display: block;
  position: relative;
  width: 180px;
  top: 14px;
  margin: 0 auto 10px;
  float: none;
  outline: 0;
}
.wrapCoreNavList {
  text-align: right;
  // text-align: left;
  position: relative;
  z-index: 1;
}
.menuCoreNavList {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdown {
  position: relative;
  display: block;
  float: left;
}
.dropdownMenu {
  ight: 0;
  left: initial;
  width: 230px;
  background: #fff;
  border: solid 1px #ffffff;
  position: absolute;
  top: 100%;
  padding: 0;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgb(31 45 61 / 15%);
  -webkit-box-shadow: 0 1.5rem 4rem rgb(31 45 61 / 15%);
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  float: left;
  min-width: 10rem;
  display: none;
}

.dropdownOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
  left: 0;
  top: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
