.filterGroup .dropdown-menu {
  position: absolute;
  border-radius: 6px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 10px;
  border: none;
  min-width: 400px;
  max-width: 400px;
  box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  padding-bottom: 0;
}
.filterGroup {
  position: relative;
  display: inline-block;
  margin: 5px 8px 5px 0;
}
.filterBtn {
  padding: 8px 22px;
  border: 1px solid #dadfe8;
  border-radius: 0.3rem;
  background: #ffffff;
  color: #495263;
  cursor: pointer;
}
// .filter-group #booking-date-search {
//   height: 38px;
//   padding: 5px 12px;
//   border: 1px solid #dadfe8;
//   border-radius: 0.3rem;
//   cursor: pointer;
// }
