.section {
  background: #f4f5f7;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.6rem 0;
  border: 1px solid #e0ecf5;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  // >advance-search &.form-group {
  //   margin-bottom: 0rem;
  // }
  // >advance-search .search-big-form .form-group i {
  //   color: #f96825;
  // }
  // .advance-search.advn-fixed {
  //   position: fixed;
  //   top: 80px;
  //   left: 0;
  //   right: 0;
  //   width: 100%;
  //   z-index: 999;
  //   -webkit-transition: 0.2s ease-in;
  //   -o-transition: 0.2s ease-in;
  //   transition: 0.2s ease-in;
  //   -webkit-animation-duration: 0.5s;
  //   animation-duration: 0.5s;
  //   -webkit-animation-name: slideInDown;
  //   animation-name: slideInDown;
  // }
  // .advance-search .form-group {
  // }
  // .advance-search .search-big-form {
  //   padding: 10px !important;
  // }
  // .home-map.fl-wrap .advance-search-container {
  //   position: absolute;
  //   bottom: 50px;
  //   left: 0;
  //   z-index: +33;
  //   transition: all 0.4s;
  //   max-width: 1170px;
  //   margin: 0 auto !important;
  //   width: 100%;
  //   right: 0;
  // }
  // .advance-search {
  //   z-index: 222;
  // }
}
