@tailwind base;
@tailwind components;
@tailwind utilities;

@import "material-icons/iconfont/material-icons.css";
@import "./variables";

html,
body {
  background-color: $fon;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input,
button {
  border: none;
  outline: none;
}
